<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--project-company</key>
	<string>brokaw.github.com</string>
	<key>--project-name</key>
	<string>SBDataStructures</string>
	<key>--company-id</key>
	<string>com.github.brokaw</string>
	<key>--index-desc</key>
	<string>README.markdown</string>
</dict>
</plist>
